In [1]:
import json
import pickle
import pandas as pd
import numpy as np
from feature_engine.outliers import Winsorizer

In [2]:
with open ('pca.pkl', 'rb') as file_1:
    pca2 = pickle.load(file_1)
with open ('kmeans.pkl', 'rb') as file_2:
    km = pickle.load(file_2)

with open ('winsoriser.pkl', 'rb') as file_3:
    winsorizer = pickle.load(file_3)
with open ('scaler.pkl','rb') as file_4:
    scaler = pickle.load(file_4)

# 10. Model Inferences

In [3]:
data_inferences = pd.read_csv('humanitarian-aid.csv')

In [4]:
data_inferences = data_inferences.head(10)

In [5]:
df = data_inferences.copy()

In [6]:
data_inferences

,country,child_mortality,exports,health,imports,income,inflation,life_expectancy,total_fertility,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.440,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.490,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.100,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.400,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.440,76.8,2.13,12200
5,Argentina,14.5,18.9,8.10,16.0,18700,20.900,75.8,2.37,10300
6,Armenia,18.1,20.8,4.40,45.3,6700,7.770,73.3,1.69,3220
7,Australia,4.8,19.8,8.73,20.9,41400,1.160,82.0,1.93,51900
8,Austria,4.3,51.3,11.00,47.8,43200,0.873,80.5,1.44,46900
9,Azerbaijan,39.2,54.3,5.88,20.7,16000,13.800,69.1,1.92,5840

In [7]:
data_inferences.drop('country' , inplace=True , axis=1)

In [8]:
data_inferences

,child_mortality,exports,health,imports,income,inflation,life_expectancy,total_fertility,gdpp
0,90.2,10.0,7.58,44.9,1610,9.440,56.2,5.82,553
1,16.6,28.0,6.55,48.6,9930,4.490,76.3,1.65,4090
2,27.3,38.4,4.17,31.4,12900,16.100,76.5,2.89,4460
3,119.0,62.3,2.85,42.9,5900,22.400,60.1,6.16,3530
4,10.3,45.5,6.03,58.9,19100,1.440,76.8,2.13,12200
5,14.5,18.9,8.10,16.0,18700,20.900,75.8,2.37,10300
6,18.1,20.8,4.40,45.3,6700,7.770,73.3,1.69,3220
7,4.8,19.8,8.73,20.9,41400,1.160,82.0,1.93,51900
8,4.3,51.3,11.00,47.8,43200,0.873,80.5,1.44,46900
9,39.2,54.3,5.88,20.7,16000,13.800,69.1,1.92,5840

In [9]:
winsorizer = Winsorizer(capping_method='iqr', tail='both', fold=1.5, variables=['child_mortality', 'exports', 'health', 'imports', 'income', 'inflation', 'life_expectancy', 'total_fertility', 'gdpp'])
winsorizer.fit(data_inferences)
data_inferences = winsorizer.transform(data_inferences)

In [10]:
data_inferences=scaler.transform(data_inferences)

In [11]:
data_inferences=pca2.transform(data_inferences)

c:\Users\maddi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

In [12]:
data_inferences

array([[-0.64627912, -0.10500796, -0.15902983, -0.11129702,  0.06853912],
       [ 0.03013603,  0.25505671, -0.27663261,  0.14521513, -0.02239897],
       [-0.11853915, -0.00174435,  0.03772513,  0.4490752 ,  0.05948019],
       [-0.57803699, -0.06821151,  0.52922991,  0.29823835,  0.12228291],
       [ 0.29301394,  0.22707456, -0.04890686, -0.00104751, -0.1118514 ],
       [ 0.05427322, -0.29539954, -0.1872794 ,  0.45581573,  0.33698484],
       [-0.10813622,  0.21560489, -0.23638346,  0.29700704, -0.07684888],
       [ 0.68061633, -0.31402086, -0.32058213,  0.01132759, -0.10998803],
       [ 0.7951089 , -0.04803   , -0.10664882, -0.19427596,  0.09648934],
       [-0.0635517 , -0.01549866,  0.08102526,  0.31451182,  0.07024181]])

In [13]:
reduce_data_inferences = pd.DataFrame(data_inferences, columns=['PC1', 'PC2', 'PC3' , 'PC4','PC5'])
reduce_data_inferences.head()

        PC1       PC2       PC3       PC4       PC5
0 -0.646279 -0.105008 -0.159030 -0.111297  0.068539
1  0.030136  0.255057 -0.276633  0.145215 -0.022399
2 -0.118539 -0.001744  0.037725  0.449075  0.059480
3 -0.578037 -0.068212  0.529230  0.298238  0.122283
4  0.293014  0.227075 -0.048907 -0.001048 -0.111851

In [14]:
inf_pred = km.predict(reduce_data_inferences)

c:\Users\maddi\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but KMeans was fitted without feature names
  warnings.warn(

In [15]:
reduce_data_inferences['clusters'] = inf_pred
reduce_data_inferences.head()

        PC1       PC2       PC3       PC4       PC5  clusters
0 -0.646279 -0.105008 -0.159030 -0.111297  0.068539         0
1  0.030136  0.255057 -0.276633  0.145215 -0.022399         2
2 -0.118539 -0.001744  0.037725  0.449075  0.059480         2
3 -0.578037 -0.068212  0.529230  0.298238  0.122283         0
4  0.293014  0.227075 -0.048907 -0.001048 -0.111851         2

In [16]:
concat = reduce_data_inferences.head(10)

In [17]:
final_inf = pd.concat([df, concat], axis=1)

In [18]:
final_inf

,country,child_mortality,exports,health,imports,income,inflation,life_expectancy,total_fertility,gdpp,PC1,PC2,PC3,PC4,PC5,clusters
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.440,56.2,5.82,553,-0.646279,-0.105008,-0.159030,-0.111297,0.068539,0
1,Albania,16.6,28.0,6.55,48.6,9930,4.490,76.3,1.65,4090,0.030136,0.255057,-0.276633,0.145215,-0.022399,2
2,Algeria,27.3,38.4,4.17,31.4,12900,16.100,76.5,2.89,4460,-0.118539,-0.001744,0.037725,0.449075,0.059480,2
3,Angola,119.0,62.3,2.85,42.9,5900,22.400,60.1,6.16,3530,-0.578037,-0.068212,0.529230,0.298238,0.122283,0
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.440,76.8,2.13,12200,0.293014,0.227075,-0.048907,-0.001048,-0.111851,2
5,Argentina,14.5,18.9,8.10,16.0,18700,20.900,75.8,2.37,10300,0.054273,-0.295400,-0.187279,0.455816,0.336985,2
6,Armenia,18.1,20.8,4.40,45.3,6700,7.770,73.3,1.69,3220,-0.108136,0.215605,-0.236383,0.297007,-0.076849,2
7,Australia,4.8,19.8,8.73,20.9,41400,1.160,82.0,1.93,51900,0.680616,-0.314021,-0.320582,0.011328,-0.109988,1
8,Austria,4.3,51.3,11.00,47.8,43200,0.873,80.5,1.44,46900,0.795109,-0.048030,-0.106649,-0.194276,0.096489,1
9,Azerbaijan,39.2,54.3,5.88,20.7,16000,13.800,69.1,1.92,5840,-0.063552,-0.015499,0.081025,0.314512,0.070242,2

# 11. Conclusion

Statement : 

* Cluster 0: This cluster has the lowest GDP per capita, income, and life expectancy. This indicates that countries in this cluster face extremely disadvantaged economic conditions, with low income and low life expectancy. This cluster requires special attention in efforts to improve economic development, increase income, and enhance the quality of life for its population.

* Cluster 1: This cluster has the highest GDP per capita, income, and life expectancy. This indicates that countries in this cluster have advanced economic conditions, high income, and high life expectancy. This cluster reflects countries with good economic development, good access to resources and healthcare services, and high quality of life for their population.

* Cluster 2: This cluster has the second highest or moderate levels of GDP per capita, income, and life expectancy. This indicates that countries in this cluster have relatively good economic conditions, moderate income, and relatively high life expectancy. Although not as good as Cluster 1, countries in this cluster still show a relatively good level of economic development and provide a decent quality of life for their population.

Recommendation: Cluster 0 is in dire need of assistance; therefore, the primary priority in sending aid should be to the countries in Cluster 0.